<?xml version="1.0" encoding="utf-8"?>
<SpellEditor>
  <Language>enUS</Language>
  <BindingsDirectory>E:\WoW Spell Editor\Bindings_335_wotlk</BindingsDirectory>
  <DbcDirectory>E:\WoW Spell Editor\DBC_335_wotlk</DbcDirectory>
  <WoWVersion>3.3.5a 12340</WoWVersion>
  <MySQL>
    <Host>127.0.0.1</Host>
    <Username>root</Username>
    <Password></Password>
    <Port>3306</Port>
    <Database>dbc</Database>
  </MySQL>
</SpellEditor>